/node_modules/
/lib/
/test/
custom-elements.json
# top level source
arcgis-js-api-calcite-lit-example.js
arcgis-js-api-calcite-lit-example.js.map
arcgis-js-api-calcite-lit-example.d.ts
arcgis-js-api-calcite-lit-example.d.ts.map
# only generated for size check
arcgis-js-api-calcite-lit-example.bundled.js